@font-face {
  font-family: "barcadebrawl";
  src: url(./assets/fonts/BarcadeBrawl.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "barcadebrawl", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: "barcadebrawl", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 1rem;
  background-image: url("./assets/images/bg.png");
  background-repeat: repeat;
}

@media screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

.ant-dropdown-menu {
  max-height: 200px;
  overflow: scroll;
  width: 23rem;
}

.ant-dropdown-menu-title-content {
  font-size: 1rem;
}
